/* TODO: Remove this once we have a calendar component on design system */
.rdp {
	--rdp-cell-size: 36px;
	--rdp-accent-color: #6366f1;
	--rdp-background-color: #1a1b1e;
	--rdp-accent-color-dark: #4f46e5;
	--rdp-background-color-dark: #18181b;
	--rdp-outline: 2px solid var(--rdp-accent-color);
	--rdp-outline-selected: 2px solid var(--rdp-accent-color);
	margin: 0;
}

.rdp-root {
	padding: 0;
}

.rdp-months {
	background-color: var(--rdp-background-color);
	border-radius: 0.75rem;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
	background-color: var(--rdp-accent-color);
	color: white;
	font-weight: 600;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
	background-color: rgba(99, 102, 241, 0.15);
	color: white;
}

.rdp-day {
	border-radius: 9999px;
	color: #a1a1aa;
	font-size: 0.875rem;
	height: var(--rdp-cell-size);
	width: var(--rdp-cell-size);
}

.rdp-day_today {
	color: white;
	font-weight: 600;
	position: relative;
}

.rdp-day_today:after {
	background-color: var(--rdp-accent-color);
	border-radius: 9999px;
	content: "";
	height: 4px;
	left: 50%;
	position: absolute;
	top: 85%;
	transform: translateX(-50%);
	width: 4px;
}

.rdp-button[disabled] {
	opacity: 0.25;
}

.rdp-nav_button {
	color: #a1a1aa;
}

.rdp-nav_button:hover {
	background-color: rgba(99, 102, 241, 0.15);
	color: white;
}

.rdp-caption {
	color: white;
	font-weight: 600;
	padding: 0 0.5rem;
}

.rdp-head_cell {
	color: #71717a;
	font-size: 0.75rem;
	font-weight: 500;
	padding-bottom: 0.75rem;
	text-transform: uppercase;
}

.rdp-button_previous > svg,
.rdp-button_next > svg {
	fill: #a1a1aa;
}

.rdp-button_previous:hover > svg,
.rdp-button_next:hover > svg {
	fill: white;
}

.rdp-selected > .rdp-day_button {
	background-color: var(--seq-colors-button-glass);
}
